@font-face{
    font-family:"comic";
    src: url(Assets/Fonts/comic.otf);
    
}
@font-face{
    font-family:"roboto";
    src: url(Assets/Fonts/roboto.ttf);
}

body{
    background-color: #245060;
    font-family: "roboto";
    width:600px;
    height:auto;
}

.text{
    font-size: 100px;
}
h1{
    font-family: 'Athiti', sans-serif;
    font-size :1em;
    color:white;
}
h2{
    font-family: 'Athiti', sans-serif;
    font-size :1em;
    color:white;
}